:root {
    --body-color: #212529;
    --body-background: #141414;

    --header-color: #222222;
    --header-block-color: #2F2F2F;
    --header-text-color: #ffffffcc;

    --container-background: #191919;

    --menuBarBut-background-color: #2F2F2F;
    --menuBarBut-bottom-color: #673AB7;

    --a-color: #ffffffcc;

    --btnMenuItems-backgroung: #222222;
    --btnMenuItems-color: #ffffffcc;

    --btnActive-background: #673AB7;
    --btnPassive-background: #2F2F2F;

    --topMenu-background: #2F2F2F;

    --topMenuItems-color: #ffffffcc;

    --active-color: #ffffffcc;

    --postBlock-background: #3B3B3B;

    --postDownBlock-background: #2F2F2F;

    --titleForPost-color: #ffffffcc;

    --blockTopForLogo-background: #673AB7;
    --blockTopForLogo-color: #ffffffcc;

    --textblockForPost-color: #ACACAC;

    --postdate-color: #ffffffcc;
    --postdate-background: #3B3B3B;

    --CommentAuthorForPost-background: #2F2F2F;

    --CommentblockForPost-color: #ACACAC;

    --rightBlock_block-background: #222222;

    --searchform-background: #3B3B3B;
    --searchform-color: #ffffffcc;
    --searchform-border: #3B3B3B;

    --searchInput-background: #3B3B3B;
    --searchInput-color: #ffffffcc;
    --searchInput-border: #3B3B3B;

    --sortBlock-color: #ACACAC;
    --catBlock-color: #ACACAC;

    --sortItems-color: #ffffffcc;

    --sortItemsStatus-background: #3B3B3B;

    --sortItemsStatusActiv-background: #673AB7;

    --countCat-color: #ACACAC;

    --changeDataBlock-background: #222222;

    --postBlock-full-color: #3B3B3B;

    --commentsContainer-background: #222222;

    --popupBlock-backgroung: #2F2F2F;

    --popupHeader-color: #ffffffcc;
    --popupHeader-background: #3B3B3B;

    --popupBody-label: #ACACAC;

    --popupBody-input-background: #3B3B3B;

    --popupBody-textarea-background: #3B3B3B;

    --popupFooter-background: #222222;

    --button-transparent-color: #ffffffcc;

    --input-color: #ffffffcc;

    --menu-btn-background: #673AB7;

    --btnsMenu-background: #222222;
    --btnsMenu-color: #333;
    --btnsMenu-hover: #673AB7;

    --writecomment-text-background: #373737;

    --comment-color: #ffffffcc;
}

:root[theme='light'] {
    --body-color: #212529; /* - */
    --body-background: #EDE6FF;

    --header-color: #673AB7;
    --header-block-color: #4B2F79;
    --header-text-color: #ffffffcc; /* - */

    --container-background: #FFFFFFCC;

    --menuBarBut-background-color: #F4F2FF; /* - */
    --menuBarBut-bottom-color: #673AB7;

    --a-color: #000000;

    --btnMenuItems-backgroung: #F7F5FF;
    --btnMenuItems-color: #000000;

    --btnActive-background: #673AB7;
    --btnPassive-background: #F4F2FF;

    --topMenu-background: #F7F7FF;

    --topMenuItems-color: #000000;

    --active-color: #673AB7;

    --postBlock-background: #F7F7FF;

    --postDownBlock-background: #F4F2FF;

    --titleForPost-color: #000000;

    --blockTopForLogo-background: #673AB7; /* - */
    --blockTopForLogo-color: #ffffffcc; /* - */

    --textblockForPost-color: #000000;

    --postdate-color: #000000;
    --postdate-background: #F7F5FF;

    --CommentAuthorForPost-background: #F7F7FF;

    --CommentblockForPost-color: #000000;

    --rightBlock_block-background: #F7F5FF;

    --searchform-background: #FFFFFF;
    --searchform-color: #676767;
    --searchform-border: #F7F7FF;

    --searchInput-background: #FFFFFF;
    --searchInput-color: #000000;
    --searchInput-border: #FFFFFF;

    --sortBlock-color: #676767;

    --sortItems-color: #000000;

    --sortItemsStatus-background: #3B3B3B;

    --sortItemsStatusActiv-background: #673AB7;

    --changeDataBlock-background: #F7F5FF;

    --postBlock-full-color: #F7F7FF;

    --commentsContainer-background: #F4F2FF;

    --popupBlock-backgroung: #F4F2FF;

    --popupHeader-color: #000000;
    --popupHeader-background: #F7F7FF;

    --popupBody-label: #676767;

    --popupBody-input-background: #F7F7FF;

    --popupBody-textarea-background: #F7F7FF;

    --popupFooter-background: #F7F5FF;

    --button-transparent-color: #000000;

    --input-color: #000000;
  
    --menu-btn-background: #000000;

    --btnsMenu-background: #EDE6FF;
    --btnsMenu-color: #000000;
    --btnsMenu-hover: #673AB7;

    --writecomment-text-background: #F7F7FF;
    --comment-color: #676767;
}

html {
  height: auto;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  transition-duration: .9s;
}

body {
  margin: 0;
  font-family: -apple-system, "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--body-color);
  text-align: left;
  background-color: var(--body-background);
}

.qq {
    border: 1px solid black;
}

.box, .main {
    position: relative;
}

header {
    height: 50px;
    background: var(--header-color);
    margin: 0 auto;
}

.container {
    background: var(--container-background);
}

.menuBarBut {
    height: 51px;
    border-radius: 13px;
    border-bottom: 3px solid var(--menuBarBut-bottom-color);
    background: var(--menuBarBut-background-color);
    margin: 37px 0;
    color: black;
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
}
.pointers {
    margin-top: 5px;
}
a {
    text-decoration: none !important;
    color: var(--a-color) !important;
    transition-duration: .25s;
}
a:hover {
    text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F !important;
    transition-duration: .25s;
}
.logoBlock {
    width: 213px;
    background: var(--header-block-color);
    height: 70px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
.imgLogo {
    opacity: 0.8;
}
.nameLogo {
    font-size: 24px;
    color: var(--header-text-color);
    margin-top: 10px;
    margin-left: 10px;
}
.logo{
    margin: 5px auto;
}
.menuBar{
}
.btnMenuItems{
    height: 40px;
    border-radius: 8px;
    background: var(--btnMenuItems-backgroung);
    margin-top: 5px;
    color: var(--btnMenuItems-color);
    font-size: 18px;
    padding-left: 20px;
}
.btnsMenu{
    padding-top: 20px;
}
.btnActiv{
    width: 6px;
    height: 40px;
    background: var(--btnActive-background);
    margin-right: 20px;
}
.btnPassiv{
    width: 6px;
    height: 40px;
    background: var(--btnPassive-background);
    margin-right: 20px;
}

.textBtns{
    padding-top: 7px;
}
.topMenu{
    height: 46px;
    background: var(--topMenu-background); 
    border-radius: 13px;
    margin-top: -23px;
    z-index: 9999;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
}
.fixedCol {
    position: sticky;
    padding: 0 10%;
    top: 25px;
}
.topMenuItems{
    color: var(--topMenuItems-color);
    font-size: 14px;
    margin-top: 12px;
}
.active{
    border-bottom: 2px solid var(--active-color);
}
.mainArea {
    padding-top: 20px;
}
.postBlocks{
    padding-top: 37px;
}
.postBlock{
    width: 100%;
    background: var(--postBlock-background);
    padding-left: 0px;
    border-radius: 13px;
}
.postTopBlock{
    min-height: 64px;
}
.postDownBlock {
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 15px;
    background: var(--postDownBlock-background);
    border-radius: 0 0 13px 13px;
}
.profileInfo {
    border-radius: 0;
}
.titleForPost {
    color: var(--titleForPost-color);
    font-size: 19px;
    display: inline-block;
    width: 68%;
    word-break: break-word;
    padding: 15px 0;
}
.blockTopForLogo {
    max-width: 50px;
    min-width: 42px;
    width: 14%;
    height: 55px;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px 5px 13px 13px;
    background: var(--blockTopForLogo-background);
    z-index: 1;
    color: var(--blockTopForLogo-color);
    font-size: 25px;
    text-align: center;
    padding: 13px 10px;
    margin: -5px 4%;
}
.textblockForPost {
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding-top: 15px;
    font-size: 16px;
    color: var(--textblockForPost-color);
}
.textblockForPost {
    word-wrap: break-word;
}
.postdate {
    height: 25px;
    width: max-content;
    color: var(--postdate-color);
    border-radius: 13px;
    background: var(--postdate-background);
    margin: 0 10px 0 auto;
    font-size: 14px;
    text-align: center;
    padding: 1px 10px;
}
.CommentAuthorForPost {
    height: 25px;
    width: max-content;
    border-radius: 13px;
    background: var(--CommentAuthorForPost-background);
    margin: 5px 10px 5px auto;
    font-size: 14px;
    text-align: center;
    padding: 1px 10px;
}
.CommentblockForPost {
    width: 90%;
    height: auto;
    margin-left: 25px;
    padding: 10px 0;
    font-size: 16px;
    color: var(--CommentblockForPost-color);
}
.rightBlock{
    margin-top: -3px;
}
.rightBlock_block{
    margin-top: 37px;
    padding: 20px 10px;
    background: var(--rightBlock_block-background);
    border-radius: 13px;
}
.searchform {
    background: var(--searchform-background);
    border-radius: 36px;
    color: var(--searchform-color);
    border: 1px solid var(--searchform-border);
}
.searchInput {
    width: 100%;
    padding: 3px 0 3px 10px;
    background: var(--searchInput-background);
    border-radius: 36px 0 0 36px;
    color:var(--searchInput-color);
    border: 1px solid var(--searchInput-border);
}
.searchLogo {
    margin: auto 10px;
    cursor: pointer;
}
.sortBlock{
    margin: 37px 5px 0;
    color: var(--sortBlock-color);
    font-size: 16px;
}
.catBlock{
    width: 290px;
    margin-left: 19px;
    margin-top: 14px;
    color: var(--catBlock-color);
    font-size: 16px;
}
.sortItems{
    color: var(--sortItems-color);
}
.sortItemsStatus {
    margin-top: 6px;
    margin-right: 14px;
    background: var(--sortItemsStatus-background);
    border-radius: 50%;
    height: 10px;
    width: 10px;
}
.sortItem{
    margin-top: 15px;
}
.sortItemsStatusActiv{
    background: var(--sortItemsStatusActiv-background);
}
.catBlock .sortItemsStatus{
    border-radius: 0;
}
.countCat{
    text-align: right;
    position: absolute;
    right: 22px;
    font-size: 18px;
    color: var(--countCat-color);
}
.changeDataBlock {
    width: 100%;
    padding: 15px 1%;
    border-radius: 0 0 13px 13px;
    background: var(--changeDataBlock-background);
}
.halfBlock {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    text-align: center;
}
.leftAlign {
    text-align: left;
}
.rightAlign {
    text-align: right;
}
a.doubleLink {
    display: block;
}
.blur_test {
    filter: blur(20px);
}
.blur_layer {
    position: absolute;
    filter: blur(20px);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0; 
    z-index: 2;   
}
.singleAd {
    width: 60vw;
    min-height: 400px;
    position: absolute;
    top: -10px;
    left: -62.5%;
}
.postBlock#full {
    width: 60%;
    min-height: 400px;
    display: inline-block;
    background: var(--postBlock-full-color);
    border-radius: 13px 0 0 13px;
    vertical-align: top;
}
.commentsContainer {
    width: 40%;
    display: inline-block;
    border-radius: 0 13px 13px 0;
    vertical-align: top;
    background: var(--commentsContainer-background);
    padding: 0.5%;
}
.commentsBlock {
    width: 99%;
    height: 100%
}
.oneComment {
    height: 90%;
    padding: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
    word-break: break-word;
    color: var(--comment-color);
}
.noComments {
    color: var(--comment-color);
}
.customScroll::-webkit-scrollbar {
    width: 6px;
}
.customScroll::-webkit-scrollbar-thumb {
    background-color: #673AB7;
    border-radius: 10px;
}
.customScroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: rgb(34,34,34);
}
.writecomment button {
    width: 10%;
    margin: 5px 0 5px 5px;
    padding: 11px 0;
    background:no-repeat url("/img/Path 25.svg");
    border: none;
}
.writecomment textarea {
    height: 35px;
    width: 86%;
    display: inline-block;
    vertical-align: top;
    resize: none;
    border-radius: 5px;
    background: var(--writecomment-text-background);
    border: none;
}
.writecomment {
    width: 100%;
    padding: 5px;
}
.commentblock {
    margin-top: 15px;
}
.popupBlock {
    width: 60%;
    background-color: var(--popupBlock-backgroung);
    border-radius: 13px;
    position: absolute;
    left: 20%;
    z-index: 9990;
}
.popupHeader {
    color: var(--popupHeader-color);
    font-size: 19px;
    width: 69%;
    word-break: break-word;
    padding: 15px 0;
    background-color: var(--popupHeader-background);
    width: 100%;
    border-radius: 13px 13px 0 0;
    padding: 15px 4%;
}
.popupBody {
    padding: 15px 4% 0;
}
.popupBody > label, .halfBlock > label {
    color: var(--popupBody-label);
    text-align: left;
}
.popupBody > input, .halfBlock > input {
    width: 99%;
    background-color: var(--popupBody-input-background);
    border: none;
    border-radius: 10px;
    height: 35px;
    margin-bottom: 15px;
    text-align: left;
}
.popupBody > textarea {
    width: 100%;
    background-color: var(--popupBody-textarea-background);
    border: none;
    border-radius: 10px;
    height: 75px;
    resize: none;
    margin-bottom: 15px;
}
.popupFooter {
    background-color: var(--popupFooter-background);
    border-radius: 0 0 13px 13px;
    padding: 15px 4%;
}
button.profile {
    width: 95%;
}
button.transparent {
    background: transparent;
    color: var(--button-transparent-color);
    margin: 0 10%;
    border: none;
}
.BookmarkBtn {
    background: transparent;
    border:none;
    float: right;
    padding: 10px;
    margin-right: 10px;
    background-image: url("/img/star_check_ON_colored.svg");
    background-repeat: no-repeat;
    margin-top: 10px;
    transition-duration: .25s;
}
.BookmarkBtn:hover {
    background-image: url("/img/star_check_ON.svg");
    transition-duration: .25s;
}
.BookmarkBtnIs {
    background: transparent;
    border:none;
    float: right;
    padding: 10px;
    padding-bottom: 20px;
    margin-right: 10px;
    background-image: url("/img/star_check_OFF.svg");
    background-repeat: no-repeat;
    margin-top: 10px;
    transition-duration: .25s;
}
.BookmarkBtnIs:hover {
    background-image: url("/img/star_check_OFF_colored.svg");
    transition-duration: .25s;
}
.DeleteBtn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px;
    border: none;
    border-radius: 0;
    background: transparent;
    background-image: url(/img/Delete_comment.svg);
    background-repeat: no-repeat;
    float: right;
}
input {
    color: var(--input-color);
    padding: 7px 10px;
}
input.profileField {
    width: 100%;
    background-color: var(--writecomment-text-background);
    border: none;
    border-radius: 10px;
    margin-bottom: 15px;
}
textarea {
    color: var(--input-color);
    padding-left: 18px;
    padding-top: 6px;
}
.menu {
    display: none;
}
#menu_toggle {
    display: none;
}
#menu_btn {
    display: none;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1;
}
#menu_btn > span, #menu_btn > span::before, #menu_btn > span::after {
    display: none;
    position: absolute;

    width: 100%;
    height: 2px;

    background-color: var(--menu-btn-background);
    transition-duration: .25s;
}
#menu_btn > span::before {
    top: -8px;
    content: '';
}
#menu_btn > span::after {
    top: 8px;
    content: '';
}
#menu_toggle:checked ~ #menu_btn {
    position: fixed;
}
#menu_toggle:checked ~ #menu_btn > span {
    transform: rotate(45deg);
}
#menu_toggle:checked ~ #menu_btn > span::before {
    top: 0;
    transform: rotate(0);
}
#menu_toggle:checked ~ #menu_btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu_toggle:checked ~ .btnsMenu {
    position: fixed;
    visibility: visible;
    left: 0;
}

.switch {
    position: relative;
    display: inline-block;
    left: 20px;
    width: 50px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2F2F2F;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #F4F2FF;
    border: 1px solid #2222;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(23px);
    -ms-transform: translateX(23px);
    transform: translateX(23px);
    background-color: #2222;
}

.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}

@media (max-width: 1200px) {
    .container {
        width: 98%;
        min-width: auto;
    }
    .changeDataBlock {
        padding: 15px 0;
    }
    .singleAd {
        width: 75vw;
        left: -67.5%;
    }
}

@media (max-width: 990px) {
    .container {}
    .col-4.firstCol {
        display: none;
    }
    .singleAd {
        left: 12.5%;
    }
    .menu {
        display: block;
    }
    #menu_btn > span, #menu_btn > span::before, #menu_btn > span::after {
        display: block;
    }
    #menu_btn {
        display: flex;
        z-index: 2000;
    }
    .btnsMenu {
        display: block;
        position: absolute;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 75%;
        height: 100%;
        margin: 0;
        padding-top: 50px;
        text-align: center;
        background-color: var(--btnsMenu-background);
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        transition-duration: .25s;
        z-index: 1000;
    }
    .btnMenuItems, .menuBarBut {
        display: block;
        margin-top: 0px;
        margin-bottom: 2px;
        border-radius: 0;
        color: var(--btnsMenu-color);
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }
    .btnMenuItems:hover, #menuBarBut:hover {
        background-color: var(--btnsMenu-hover);
    }
    .mainArea {
        max-width: 60%;
        width: 60%;
        flex: 0 0 60%;
        padding: 20px 4%;
    }
    .fixedCol {
        padding: 0 20px 0 0;
    }
    .thirdCol {
        max-width: 40%;
        width: 40%;
        flex: 0 0 40%;
        padding: 0;
    }
    .topMenu {
        margin-top: 57px;
    }
    .postBlock#full {
        width: 100%;
        border-radius: 13px 13px 0 0;
    }
    .commentsContainer {
        display: inline-block;
        width: 100%;
        max-height: 300px;
        height: 300px;
        border-radius: 0 0 13px 13px;
    }
    .oneComment, .noComments {
        max-height: 247.5px;
    }
}

@media (max-width: 655px) {
    .container {
        width: 100%;
    }
    .logoBlock {
        height: 50px;
        border-radius: 0;
        background-color: transparent;
    }
    .logo {
        margin: 2px auto;
    }
    .row {
        flex-flow: wrap;
    }
    .mainArea, .thirdCol {
        max-width: 100%;
        width: 100%;
        flex: 0 0 100%;
        padding: 0 4%;
    }
    .thirdCol {
        order: 1;
    }
    .mainArea {
        order: 2;
    }
    .fixedCol {
        padding: 0;
    }
    .topMenu {
        margin-top: 5px;
    }
    .rightBlock_block {
        margin-top: 10px;
    }
    .postBlocks {
        padding-top: 20px;
    }
    .BookmarkBtnIs, .BookmarkBtn {
        padding-right: 9px;
        padding-left: 9px;
    }
    .popupBlock, .singleAd {
        width: 80%;
        left: 10%;
        top: 80px
    }
}

.popup-enter-active, .popup-leave-active {
        transition: opacity .7s;
    }
    .popup-enter, .popup-leave-to {
        opacity: 0;
    }
    .inFront {
        z-index: 9900;
        position: relative;
    }
    .blur-enter-active, .blur-leave-active {
        transition: opacity .7s;
    }
    .blur-enter, .blur-leave-to {
        opacity: 0;
    }